extends layout

block content
  h1= title
  br

  form(method='POST' action='')
    div.form-group
      label(for='time') Time:
      input#time.form-control(type='text', placeholder='Time of session' name='time' required='true' value=(undefined===session ? '' : session.time) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
